:root {
  --color-primary: #aecff1;       
  --color-secondary: #6c757d;     /* Gris, para elementos no tan importantes */
  --color-accent: #28a745;        /* Verde, para llamadas a la acción o énfasis */
  --color-background: #ffffff;    /* Fondo general del sitio */
  --color-foreground: #343a40;    /* Color principal del texto */
  --color-border: rgb(39, 38, 38);/* Color de borde generalizado */
  --color-shadow: rgba(0, 0, 0, 0.4); /* Sombra para box-shadow u otros efectos */
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  /* color: #333; */
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.container {
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 5x;
  
}

.container2 {
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 5px;
  
}

#cambios-container {
  display: flex;
  justify-content: space-around; /* Esto asegura que haya espacio entre ambos elementos */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  width: 100%; /* Ajusta el ancho del contenedor al 100% del contenedor padre */
  
}

#exchangeRate, #paralelRate {
  width: 46%; /* Asigna un ancho para asegurar que no se superpongan */
  padding: 10px; /* Opcional, agrega algo de espacio dentro de los divs */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  color: var(--color-border);
  background-color: var(--color-primary);
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 12px;
  margin-bottom: 8px;
  margin-top: 8px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  
}

#exchangeRate:hover, #paralelRate:hover {
  background-color: #818588;
  transition: background-color 0.3s;
}

#exchangeRate.active, #paralelRate.active {
  /* background-color: rgb(52, 99, 52); Cambia al color que prefieras para el activo */
  color: rgb(0, 0, 0);
  border: solid;
  border-color: rgb(0, 0, 0);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}


.exchange-type {
  display: none !important;
}

/* @keyframes example {
  from { color: rgb(130, 130, 130); }
  to { color: var(--color-primary); }
} */

.animated-text {
  /* animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
  text-shadow: 2px 2px 4px rgba(100, 97, 97, 0.5);
  font-size: 2.5em;
}



h1, h2 {
  color: #333;
  margin-bottom: 5px;
  /* margin-top: 5px; */
  text-align: center;
}

.cambiosInfo{
  margin: 0, 0, 5px, 0;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

h3 {
  margin: 0;
  font-size: 10px;
  color: gray;
  text-align: center;
}

p {
  margin-top: 2px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

/* a partir de aqui es la seccion calcula tu vuelto */

.total-amount {
  width: 100%;                    
  margin-bottom: 5px; 
  font-size: 1.20em;
  /* padding: 5px 10px; */
  border-radius: 12px;
  border: none;
  background-color: #ffffff;
  /* color: var(--color-foreground); */
  outline: none;
}

.total-amount input[type="number"], .total-amount select {
  width: 55%;               
  padding: 8px 10px;
  margin: 10px 0;
  font-size: 1em;
  border: 1px solid var(--color-border);
  /* border: none; */
  border-radius: 12px;
  box-shadow: 0 2px 6px var(--color-shadow); /* Sombra suave para profundidad */
  color: var(--color-foreground);
}

.total-amount select {
  cursor: pointer;
  width: 40%;
  background-color: var(--color-primary); /* Color de fondo para el select */
  color: var(--color-border);
  font-size: 1em;
  font-weight: bold;
  border-radius: 12px;
  border: solid;
}

.total-amount input[type="number"]::placeholder {
  color: var(--color-foreground); /* Color para el placeholder del input */
}



/* a partir de aqui es la seccion con cuanto vas a pagar */

input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Para asegurar que padding no aumente el tamaño */
}

button {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #007bff;
}

.exchange-type {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-around; /* Distribuye el espacio entre los elementos */
  gap: 10px; /* Espacio entre los elementos */
  margin-right: 10px;
}

.exchange-type h2 {
  flex: 0 0 80%;
  margin-top: 0px;
  text-align: right;
}

.exchange-type select {
  flex: 0 0 20%;
}


.total-amount {
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  gap: 10px; 
  margin-top: 0px;
}

.payment-section {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100%;            /* O una altura fija si es necesario */
  gap: 8px;
}

.payment-section input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}


.payment-section input[type="number"] {
  width: 40%;                    
  margin-bottom: 5px; 
  font-size: 1.20em;
  padding: 5px 10px;
  border-radius: 12px;
  border: solid 1px rgb(39, 38, 38);
  background-color: #ffffff;
  color: rgb(39, 38, 38);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); /* Sombra más sutil que en .nextPlaceholderText */
  outline: none;/* Elimina el contorno al hacer focus para un look más limpio */
}

.payment-section input[type="number"]:focus {
  box-shadow: 0px 0px 8px rgba(32, 156, 238, 0.8); /* Sombra más destacada al enfocar */
}


.nextPlaceholderText {
  font-size: 1.20em;
  font-weight: bold;
  background-color: #aecff1;
  color: rgb(39, 38, 38);
  padding: 5px 5px;
  border-radius: 12px;
  width: 40%;
  text-align: center;
  border: solid;
  border-color: rgb(39, 38, 38);
  justify-content: center;
  display: flex;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  
}

.radio-buttons-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no caben */
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
}


/* Estilo para el switch (toggle) */
.switch {
  position: relative;
  display: none;
  width: 60px;
  height: 34px;
}

/* Estilo para el slider */
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--color-primary);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Añadiendo algo de estilo para la etiqueta del switch */
label.switch {
  margin-right: 10px;
}

#result {
  background-color: var(--color-primary);
  color: black;
  border: solid;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  display: none;
}

.pEmergentes {
  background-color: var(--color-primary);
  color: black;
  border: solid;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);

}



