body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.container {
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

#cambios-container {
  display: flex;
  justify-content: space-around; /* Esto asegura que haya espacio entre ambos elementos */
  align-items: center; /* Alinea los elementos verticalmente en el centro */
  width: 100%; /* Ajusta el ancho del contenedor al 100% del contenedor padre */
  
}

#exchangeRate, #paralelRate {
  width: 46%; /* Asigna un ancho para asegurar que no se superpongan */
  padding: 10px; /* Opcional, agrega algo de espacio dentro de los divs */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  color:white;
  background-color: #007bff;
  text-align: center;
  font-weight: 600;
  font-size: large;
  border-radius: 12px;
  margin-bottom: 8px;
  margin-top: 8px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  
}

#exchangeRate:hover, #paralelRate:hover {
  background-color: #007bff;
  transition: background-color 0.3s;
}

#exchangeRate.active, #paralelRate.active {
  /* background-color: rgb(52, 99, 52); Cambia al color que prefieras para el activo */
  color: rgb(0, 0, 0);
  border: solid;
  border-color: rgb(0, 0, 0);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}


.exchange-type {
  display: none !important;
}



h1, h2 {
  color: #333;
  margin-bottom: 5px;
}

.cambiosInfo{
  margin: 0, 0, 5px, 0;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}

h3 {
  margin: 0;
  font-size: 10px;
  color: gray;
  text-align: center;
}

p {
  margin-top: 2px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box; /* Para asegurar que padding no aumente el tamaño */
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #007bff;
}

.exchange-type {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-around; /* Distribuye el espacio entre los elementos */
  gap: 10px; /* Espacio entre los elementos */
  margin-right: 10px;
}

.exchange-type h2 {
  flex: 0 0 80%;
  margin-top: 0px;
  text-align: right;
}

.exchange-type select {
  flex: 0 0 20%;
}


.total-amount {
  display: flex;
  align-items: center; 
  justify-content: space-around; 
  gap: 10px; 
  margin-top: 0px;
}

.payment-section input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
}

.payment-section input[type="number"] {
  width: 50%;
  margin-bottom: 5px;
}

.radio-buttons-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos pasen a la siguiente línea si no caben */
  align-items: center; /* Centra los elementos verticalmente */
  justify-content: space-around; /* Distribuye el espacio alrededor de los elementos */
}

.radio-buttons-container > div {
  margin: 5px; /* Espacio entre los elementos para mejor legibilidad */
}

.splinterSection {
  display: flex;           /* Utiliza flexbox para alinear elementos internos */
  flex-direction:column;  /* Alinea los elementos en columna */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center;     /* Centra los elementos horizontalmente */
  text-align: center;      /* Asegura que el texto dentro de los elementos también esté centrado */
  padding: 0px;           /* Añade un poco de espacio alrededor del contenido */
  border: none;  /* Opcional: Añade un borde para visualizar mejor el área del div */
  margin: auto;            /* Centra el div en el contenedor padre (si es necesario) */
  width: 80%;              /* Establece un ancho específico para el div, ajusta según necesites */
}

.splinterSection input{
  margin: 5px, 0, 5, 0;
}



/* Estilo para el switch (toggle) */
.switch {
  position: relative;
  display: none;
  width: 60px;
  height: 34px;
}

/* Estilo para el slider */
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Añadiendo algo de estilo para la etiqueta del switch */
label.switch {
  margin-right: 10px;
}

#result {
  background-color: #007bff;
  color: black;
  border: solid;
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  display: none;
}

.pEmergentes {
  background-color: #007bff;
  color: black;
  border: solid;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);

}



